target

# intellij files

Djinn.iws
.idea/workspace.xml
.idea/ant.xml
.idea/uiDesigner.xml
.idea/libraries
.idea/dictionaries
.idea/copyright
.idea/inspectionProfiles
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/codeStyleSettings.xml

# eclipse files
.project
.classpath
.settings
.externalToolBuilders/
maven-eclipse.xml

# OS X files
.DS_Store

# backups
*~
